﻿<h2 class="dashboard-header">Welcome To Dashboard</h2>
<div class="dashboard">
	<div class="card">
		<div class="card-inner">
			<p>Airports</p>
			<img src="./assets/mdi_airport.png" alt="airport-icon" />
			<p>@ViewBag.AirportsCount</p>
		</div>
		<a href="/Airport">
			<button class="button">Add New Airport</button>
		</a>
	</div>
	<div class="card">
		<div class="card-inner">
			<p>Airlines</p>
			<img src="./assets/ri_plane-fill.png" alt="plane-icon" />
			<p>@ViewBag.AirlinesCount</p>
		</div>
		<a href="/Airline">
			<button class="button">Add New Airline</button>
		</a>
	</div>
	<div class="card">
		<div class="card-inner">
			<p>Flights</p>
			<img src="./assets/carbon_flight-schedule.png" alt="flight-schedule-icon" />
			<p>@ViewBag.FlightsCount</p>
		</div>
		<a href="/Flight">
			<button class="button">Add New Flight</button>
		</a>
	</div>
</div>