﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Rise Airlines</title>
	<link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
	<header>
		<div class="header-container">
			<a class="home-page-link" href="/Home">
				<h1>Rise Airlines</h1>
				<img src="~/assets/header-plane.png" alt="plane-header" />
			</a>
		</div>
		<partial name="_Navigation" />
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer>Rise Airlines 2024 &#169;</footer>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>