﻿@model Airlines.Business.Dto.AirlineDto

@{
	ViewData["Title"] = "Edit Airline";
}

<div class="container-head">
	<a href="/Home" id="arrow-back">
		<img src="~/assets/left sidebar.png" alt="arrow-back" />
	</a>
	<h1>Edit Airline</h1>
</div>
<section class="form-section">

	<form class="form" method="post">
		<input type="hidden" asp-for="AirlineId" />
		<label asp-for="Name">Name</label>
		<input asp-for="Name" class="form-control" />
		<label asp-for="Founded">Founded</label>
		<input asp-for="Founded" class="form-control" type="date" />
		<label asp-for="FleetSize">Fleet Size</label>
		<input asp-for="FleetSize" class="form-control" type="number" />
		<label asp-for="Description">Description</label>
		<input asp-for="Description" class="form-control" />
		<button type="submit" class="button-orange">Save Changes</button>
	</form>
</section>