﻿@model List<Airlines.Business.Dto.AirlineDto>

<div class="container-head">
	<a asp-controller="Home" asp-action="Index" id="arrow-back">
		<img src="~/assets/left sidebar.png" alt="arrow-back" />
	</a>
	<h1>Airlines</h1>
</div>

<section class="filter-section">
	<form id="filterForm" class="form-filter" method="post" action="@Url.Action("SearchAndFilter", "Airline")">
		<input type="text" class="filter-input" name="filterValue" placeholder="Enter Search" />
		<select class="filter-select" name="filterCriteria">
			<option value="">Select Filter</option>
			<option value="Name">Name</option>
			<option value="FleetSize">Fleet Size</option>
			<option value="Description">Description</option>
		</select>
		<button type="submit" class="filter-button" name="filterButton">Filter</button>
	</form>
</section>

<section class="date-filter-section">
	<form id="foundedFilterForm" class="form-filter" method="post" action="@Url.Action("SearchAndFilter", "Airline")">
		<label for="founded">Founded:</label>
		<input type="date" id="founded" name="founded" />
		<button type="submit" class="filter-button" name="foundedFilterButton">Apply Founded Filter</button>
	</form>
</section>

<button type="submit" class="button-orange" id="toggleButton">Show Form</button>

<section class="table-section fade-in" id="tableSection">
	<form method="post" action="@Url.Action("DeleteSelected", "Airline")">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Founded</th>
					<th>Fleet Size</th>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var airline in Model)
				{
					<tr>
						<td>@Html.DisplayFor(item => airline.Name)</td>
						<td>@Html.DisplayFor(item => airline.Founded)</td>
						<td>@Html.DisplayFor(item => airline.FleetSize)</td>
						<td>@Html.DisplayFor(item => airline.Description)</td>
						<td>
							<a href="@Url.Action("Edit", "Airline", new { id = airline.AirlineId })" class="button-table">Edit</a>
						</td>
						<td>
							<form method="post" action="@Url.Action("DeleteConfirmed", "Airline", new { id = airline.AirlineId })">
								<button type="submit" class="button-table">Delete</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</form>
	<button type="button" class="show-more-button" id="showMoreButton">Show More</button>
</section>

<section class="form-section fade-in" id="formSection">
	<form class="form" asp-asp-controller="Airline" asp-action="Create" method="post">
		<fieldset>
			<legend>Add New Airline</legend>
			<label for="Name">Name</label>
			<input type="text" id="airline-name" name="Name" />
			<div class="error-message" id="airline-name-error"></div>
			<label for="Founded">Founded</label>
			<input type="date" id="airline-founded" name="Founded" />
			<div class="error-message" id="airline-founded-error"></div>
			<label for="FleetSize">Fleet Size</label>
			<input type="number" id="airline-fleet-size" name="FleetSize" />
			<div class="error-message" id="airline-fleet-size-error"></div>
			<label for="Description">Description</label>
			<textarea id="airline-description" name="Description"></textarea>
			<div class="error-message" id="airline-description-error"></div>
			<input type="submit" value="Submit" class="button-orange" id="submit-form-button">
		</fieldset>
	</form>
</section>

@section Scripts {
	<script src="~/js/airline-validation.js"></script>
	<script src="~/js/animation.js"></script>
	<script src="~/js/animation-table.js"></script>
}