* {
    margin: 0;
    font-family: "Arial";
    box-sizing: border-box;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    height: 40px;
    color: #FFFFFF;
    background-color: #000000;
    z-index: 1000;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    list-style-type: none;
}

.header-container img {
    margin-left: 8px;
    width: 15px;
}

.home-page-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
    user-select: none;
}

.home-page-link h1 {
    font-size: 22px;
    font-weight: 500;
}

.home-page-link:hover {
    color: #FCA311;
    transition: ease-in-out;
}

.navigation {
    margin-right: 2px;
}

.navigation-ul {
    display: flex;
    font-size: 18px;
    list-style-type: none;
}

.navigation-ul a {
    margin-right: 12px;
    text-decoration: none;
    color: #FFFFFF;
}

.navigation-ul a:hover {
    color: #FCA311;
    transition: ease-in-out;
}

.navigation-ul a.active {
    color: #FCA311;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.dashboard-header {
    font-weight: 700;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    border: 0px solid;
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 220px;
    height: 220px;
    padding: 10px;
    margin-top: 18px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5%;
    border-color: #FCA311;
    font-size: 18px;
    font-weight: 700;
}

.card-inner a {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.card-inner a:hover {
    color: #FCA311;
}


.form-section {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    position: relative;
}

.card-inner p {
    font-weight: bold;
}

.table-section {
    width: 60%;
    min-width: 300px;
    max-height: 350px;
    overflow: auto;
    border: 1px solid #000000;
    scrollbar-width: thin;
    margin-bottom: 200px;
}

table {
    width: 100%;
    min-width: 500px;
    table-layout: fixed;
    text-align: center;
    overflow: auto;
}

table,
th,
td {
    border: 1px solid #000000;
    border-collapse: collapse;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background-color: #e5e5e5;
    font-weight: 700;
    font-weight: bold;
    max-width: 100px;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #000000;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    width: 30px;
}

td:hover {
    overflow: visible;
    white-space: initial;
}

.container-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid #E5E5E5;
}

.container-head h1 {
    margin-right: 140px;
    font-size: 32px;
    font-weight: 500;
}

#arrow-back {
    position: relative;
    left: -45%;
    user-select: none;
}

.button {
    text-decoration: none;
    color: #000000;
    background-color: #E5E5E5;
    border-radius: 0.5rem;
    padding: 0.3rem 3rem;
    border-color: #E5E5E5;
    font-weight: bold;
    border-style: solid;
}

.button:hover {
    background-color: #FCA311;
    transition: ease-in-out;
}

.button-orange {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCA311;
    border-radius: 1cap;
    padding: 0.4rem 6rem;
    border-color: #E5E5E5;
    font-weight: bold;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.button-orange:hover {
    background-color: #14213D;
    transition: ease-in-out;
}

.button-orange:disabled {
    background-color: #E5E5E5;
    color: #FFFFFF;
}

.button-table {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCA311;
    border-radius: 1cap;
    padding: 0.2rem 0.3rem;
    border-color: #E5E5E5;
    font-weight: bold;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.button-table:hover {
    background-color: #14213D;
    transition: ease-in-out;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 10px;
    width: 100%;
    position: relative;
}

.form input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #E5E5E5;
    border-radius: 1cap;
    box-sizing: border-box;
}

.form input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #E5E5E5;
    border-radius: 1cap;
    box-sizing: border-box;
}

.form input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #E5E5E5;
    border-radius: 1cap;
    box-sizing: border-box;
}

#airport-runways-count {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #E5E5E5;
    border-radius: 1cap;
    box-sizing: border-box;
}

#flight-departure-datetime {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #E5E5E5;
    border-radius: 1cap;
    box-sizing: border-box;
}

#flight-arrival-datetime {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #E5E5E5;
    border-radius: 1cap;
    box-sizing: border-box;
}

.form input[type="datetime-local"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #E5E5E5;
    border-radius: 1cap;
    box-sizing: border-box;
}

.form label {
    font-size: 12px;
}

.form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 1cap;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
}

.text-form {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

fieldset {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 10px !important;
    padding: 20px !important;
    border: 2px solid #E5E5E5 !important;
    border-radius: 18px !important;
    width: 500px !important;
}

legend {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}

.filter-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-section input[type="text"],
.filter-section select {
    padding: 10px !important;
    border: 2px solid #FCA311 !important;
    border-radius: 5px !important;
    margin-right: 10px !important;
}

.filter-input {
    padding: 10px;
    border: 2px solid #FCA311;
    border-radius: 5px;
    margin-right: 10px;
}

.filter-section button {
    padding: 10px 20px;
    background-color: #FCA311;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-section button:hover {
    background-color: #FCA311;
}

.filter-section button {
    margin-top: 0;
}

.date-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.date-filter-section form {
    display: flex;
    align-items: center;
}

.date-filter-section label {
    margin-right: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.date-filter-section input[type="date"] {
    padding: 8px;
    border: 2px solid #FCA311;
    border-radius: 5px;
    margin-right: 10px;
}

.date-filter-section button {
    padding: 8px 16px;
    background-color: #FCA311;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.date-filter-section button:hover {
    background-color: #FCA311;
}

.show-more-button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCA311;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    border-color: #FCA311;
    font-weight: bold;
    border-style: solid;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.show-more-button:hover {
    background-color: #14213D;
    transition: ease-in-out;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#goUpButton {
    display: none;
    position: fixed;
    padding: 10px;
    right: 20px;
    top: 70px;
    border-radius: 30%;
    font-weight: bold;
    border-color: #FCA311;
    z-index: 1000;
}

#goUpButton:hover {
    transform: scale(1.5);
    transition: all 0.6s ease-in-out;
}

#goUpTableButton {
    display: none;
    position: sticky;
    left: 960px;
    bottom: 10px;
    border-radius: 30%;
    font-weight: bold;
    border-color: #FCA311;
}

#goUpTableButton:hover {
    background-color: #FCA311;
    transition: all 0.6s ease-in-out;
}

#goDownButton {
    display: none;
    position: fixed;
    padding: 10px;
    right: 20px;
    bottom: 70px;
    border-radius: 30%;
    font-weight: bold;
    border-color: #FCA311;
    z-index: 1000;
}

#goDownButton:hover {
    transform: scale(1.5);
    transition: all 0.6s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1.2s ease-in-out;
}

.details-container {
    max-width: 800px;
    padding: 20px;
    align-items: center;
    background-color: #fff;
}

.details-header {
    font-size: 24px;
    margin-bottom: 1px;
}

.details {
    font-size: 16px;
    line-height: 1.6;
}

.button-edit {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCA311;
    border-radius: 10%;
    border-color: #E5E5E5;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}

.button-edit:hover {
    background-color: #14213D;
    transition: ease-in-out;
}

.button-delete {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCA311;
    border-radius: 10%;
    border-color: #E5E5E5;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}

.button-delete:hover {
    background-color: #14213D;
    transition: ease-in-out;
}

.button-details {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCA311;
    border-radius: 10%;
    border-color: #E5E5E5;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}

.button-details:hover {
    background-color: #14213D;
    transition: ease-in-out;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
}