﻿@model Airlines.Business.Dto.FlightDto

@{
	ViewData["Title"] = "Edit Flight";
}

<div class="container-head">
	<a href="/Home" id="arrow-back">
		<img src="~/assets/left sidebar.png" alt="arrow-back" />
	</a>
	<h1>Edit Flight</h1>
</div>
<section class="form-section">

	<form class="form" method="post">
		<input type="hidden" asp-for="FlightId" />
		<label asp-for="FlightNumber">Flight Number</label>
		<input asp-for="FlightNumber" class="form-control" />
		<label asp-for="FromAirport">From</label>
		<input asp-for="FromAirport" class="form-control" />
		<label asp-for="ToAirport">To</label>
		<input asp-for="ToAirport" class="form-control" />
		<label asp-for="DepartureDateTime">Departure</label>
		<input asp-for="DepartureDateTime" class="form-control" type="datetime-local" />
		<label asp-for="ArrivalDateTime">Arrival</label>
		<input asp-for="ArrivalDateTime" class="form-control" type="datetime-local" />
		<button type="submit" class="button-orange">Save Changes</button>
	</form>
</section>