﻿@model List<Airlines.Business.Dto.FlightDto>

<div class="container-head">
	<a asp-controller="Home" asp-action="Index" id="arrow-back">
		<img src="~/assets/left sidebar.png" alt="arrow-back" />
	</a>
	<h1>Flights</h1>
</div>

<section class="filter-section">
	<form id="filterForm" class="form-filter" method="post" action="@Url.Action("SearchAndFilter", "Flight")">
		<input type="text" class="filter-input" name="filterValue" placeholder="Enter Search" />
		<select class="filter-select" name="filterCriteria">
			<option value="">Select Filter</option>
			<option value="FlightNumber">Flight Number</option>
			<option value="FromAirport">From</option>
			<option value="ToAirport">To</option>
		</select>
		<button type="submit" class="filter-button" name="filterButton">Filter</button>
	</form>
</section>

<section class="date-filter-section">
	<form id="departureDateFilterForm" class="form-filter" method="post" action="@Url.Action("SearchAndFilter", "Flight")">
		<label for="departureDate">Departure Date:</label>
		<input type="date" id="departureDate" name="departureDate" />
		<button type="submit" class="filter-button" name="departureDateFilterButton">Apply Departure Date Filter</button>
	</form>

	<form id="arrivalDateFilterForm" class="form-filter" method="post" action="@Url.Action("SearchAndFilter", "Flight")">
		<label for="arrivalDate">Arrival Date:</label>
		<input type="date" id="arrivalDate" name="arrivalDate" />
		<button type="submit" class="filter-button" name="arrivalDateFilterButton">Apply Arrival Date Filter</button>
	</form>
</section>

<button type="submit" class="button-orange" id="toggleButton">Show Form</button>

<section class="table-section fade-in" id="tableSection">
	<form method="post" action="@Url.Action("DeleteSelected", "Flight")">
		<table>
			<thead>
				<tr>
					<th>Flight</th>
					<th>From</th>
					<th>To</th>
					<th>Departure</th>
					<th>Arrival</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var flight in Model)
				{
					<tr>
						<td>@Html.DisplayFor(item => flight.FlightNumber)</td>
						<td>@Html.DisplayFor(item => flight.FromAirport!.Name)</td>
						<td>@Html.DisplayFor(item => flight.ToAirport!.Name)</td>
						<td>@Html.DisplayFor(item => flight.DepartureDateTime)</td>
						<td>@Html.DisplayFor(item => flight.ArrivalDateTime)</td>
						<td>
							<a href="@Url.Action("Edit", "Flight", new { id = flight.FlightId })" class="button-table">Edit</a>
						</td>
						<td>
							<form method="post" action="@Url.Action("DeleteConfirmed", "Flight", new { id = flight.FlightId })">
								<button type="submit" class="button-table">Delete</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</form>
	<button type="button" class="show-more-button" id="showMoreButton">Show More</button>
</section>

<section class="form-section fade-in" id="formSection">
	<form class="form" asp-asp-controller="Flight" asp-action="Create" method="post">
		<fieldset>
			<legend>Add New Flight</legend>
			<label for="FlightNumber">Flight Number</label>
			<input type="text" id="flight-number" name="FlightNumber" />
			<div class="error-message" id="flight-number-error"></div>
			<label for="FromAirport">From</label>
			<input type="text" id="flight-from-airport" name="FromAirport" />
			<div class="error-message" id="from-airport-error"></div>
			<label for="ToAirport">To</label>
			<input type="text" id="flight-to-airport" name="ToAirport" />
			<div class="error-message" id="to-airport-error"></div>
			<label for="DepartureDateTime">Departure</label>
			<input type="datetime-local" id="flight-departure-datetime" name="DepartureDateTime" />
			<div class="error-message" id="departure-date-error"></div>
			<label for="ArrivalDateTime">Arrival</label>
			<input type="datetime-local" id="flight-arrival-datetime" name="ArrivalDateTime" />
			<div class="error-message" id="arrival-date-error"></div>
			<input type="submit" value="Submit" class="button-orange" id="submit-form-button">
		</fieldset>
	</form>
</section>
@section Scripts {
	<script src="~/js/flight-validation.js"></script>
	<script src="~/js/animation.js"></script>
	<script src="~/js/animation-table.js"></script>
}