﻿@model Airlines.Business.Dto.AirportDto

@{
	ViewData["Title"] = "Edit Airport";
}

<div class="container-head">
	<a href="/Home" id="arrow-back">
		<img src="~/assets/left sidebar.png" alt="arrow-back" />
	</a>
	<h1>Edit Airport</h1>
</div>
<section class="form-section">

	<form class="form" method="post">
		<input type="hidden" asp-for="AirportId" />
		<label asp-for="Name">Name</label>
		<input asp-for="Name" class="form-control" />
		<label asp-for="Country">Country</label>
		<input asp-for="Country" class="form-control" />
		<label asp-for="City">City</label>
		<input asp-for="City" class="form-control" />
		<label asp-for="Code">Code</label>
		<input asp-for="Code" class="form-control" />
		<label asp-for="RunwaysCount">Runways</label>
		<input asp-for="RunwaysCount" class="form-control" type="number" />
		<label asp-for="Founded">Founded</label>
		<input asp-for="Founded" class="form-control" type="date" />
		<button type="submit" class="button-orange">Save Changes</button>
	</form>
</section>