﻿@model List<Airlines.Business.Dto.AirportDto>

<div class="container-head">
	<a asp-controller="Home" asp-action="Index" id="arrow-back">
		<img src="~/assets/left sidebar.png" alt="arrow-back" />
	</a>
	<h1>Airports</h1>
</div>

<section class="filter-section">
	<form id="filterForm" class="form-filter" method="post" action="@Url.Action("SearchAndFilter", "Airport")">
		<input type="text" class="filter-input" name="filterValue" placeholder="Enter Search" />
		<select class="filter-select" name="filterCriteria">
			<option value="">Select Filter</option>
			<option value="Name">Name</option>
			<option value="Country">Country</option>
			<option value="City">City</option>
			<option value="Code">Code</option>
			<option value="RunwaysCount">Runways</option>
		</select>
		<button type="submit" class="filter-button" name="filterButton">Filter</button>
	</form>
</section>

<section class="date-filter-section">
	<form id="foundedFilterForm" class="form-filter" method="post" action="@Url.Action("SearchAndFilter", "Airport")">
		<label for="founded">Founded:</label>
		<input type="date" id="founded" name="founded" />
		<button type="submit" class="filter-button" name="foundedFilterButton">Apply Founded Filter</button>
	</form>
</section>

<button type="submit" class="button-orange" id="toggleButton">Show Form</button>

<section class="table-section fade-in" id="tableSection">
	<form method="post" action="@Url.Action("DeleteSelected", "Airport")">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Country</th>
					<th>City</th>
					<th>Code</th>
					<th>Runways</th>
					<th>Founded</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var airport in Model)
				{
					<tr>
						<td>@Html.DisplayFor(item => airport.Name)</td>
						<td>@Html.DisplayFor(item => airport.Country)</td>
						<td>@Html.DisplayFor(item => airport.City)</td>
						<td>@Html.DisplayFor(item => airport.Code)</td>
						<td>@Html.DisplayFor(item => airport.RunwaysCount)</td>
						<td>@Html.DisplayFor(item => airport.Founded)</td>
						<td>
							<a href="@Url.Action("Edit", "Airport", new { id = airport.AirportId })" class="button-table">Edit</a>
						</td>
						<td>
							<form method="post" action="@Url.Action("DeleteConfirmed", "Airport", new { id = airport.AirportId })">
								<button type="submit" class="button-table">Delete</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</form>
	<button type="button" class="show-more-button" id="showMoreButton">Show More</button>
</section>

<section class="form-section fade-in" id="formSection">
	<form class="form" asp-asp-controller="Airport" asp-action="Create" method="post">
		<fieldset>
			<legend>Add New Airport</legend>
			<label for="Name">Name</label>
			<input type="text" id="airport-name" name="Name" />
			<div class="error-message" id="airport-name-error"></div>
			<label for="Country">Country</label>
			<input type="text" id="airport-country" name="Country" />
			<div class="error-message" id="country-error"></div>
			<label for="City">City</label>
			<input type="text" id="airport-city" name="City" />
			<div class="error-message" id="city-error"></div>
			<label for="Code">Code</label>
			<input type="text" id="airport-code" name="Code" />
			<div class="error-message" id="code-error"></div>
			<label for="RunwaysCount">Runways</label>
			<input type="number" id="airport-runways-count" name="RunwaysCount" />
			<div class="error-message" id="runways-count-error"></div>
			<label for="Founded">Founded</label>
			<input type="date" id="airport-founded" name="Founded" />
			<div class="error-message" id="founded-error"></div>
			<input type="submit" value="Submit" class="button-orange" id="submit-form-button">
		</fieldset>
	</form>
</section>
@section Scripts {
	<script src="~/js/airport-validation.js"></script>
	<script src="~/js/animation.js"></script>
	<script src="~/js/animation-table.js"></script>
}